<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cats</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Leaderboard</h1>
  <table>
      <thead>
          <th>Игрок</th>
          <th>Кол-во монет</th>
          <th>Время игры</th>
      </thead>
      {% for cat, duration in zip(cats, durations) %}
      <tr>
          <td>{{ cat['name'] }}</td>
          <td>{{ cat['coins'] }}</td>
          <td>{{ duration }}</td>
      </tr>
      {% endfor %}
  </table>

</body>
</html>

