<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cats</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Leaderboard</h1>
  <table>
      <thead>
          <th>Игрок</th>
          <th>Кол-во монет</th>
          <th>Время игры</th>
      </thead>
      {% for cat, duration in zip(cats, durations) %}
      <tr>
          <td><div class="center-both">{{ cat['name'] }}</div></td>
          <td><div class="center-both">{{ cat['coins'] }}</div></td>
          <td><div class="center-both">{{ duration }}</div></td>
      </tr>
      {% endfor %}
  </table>

</body>
</html>
