<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

  <h1>Мой опыт и навыки в сфере ИИ.</h1>

  <p> В универе у нас был курс по машинному обучению, мы<br/>
  там изучали алгоритмы машинного обучения. Я его закончил<br/>
  успешно, но сейчас мало что помню.<br/>
  Тем не менее я отлично разбираюсь в математике.<br/>
  Так что освежить знания мне не составит труда.<br/></p>

  <p> Еще в универе делал проект - чат бот. Цель чат бота состояла<br/>
  в том, чтобы отвечать на вопросы преподавателя по теме:<br/>
  "как продуктивнее общаться со студентами". Я состоял в группе<br/>
  и мы создали небольшую базу, порядка 200 вопросов-ответов.<br/>
  Далее использовали нейронную сеть для того, чтобы последняя<br/>
  принимала вопрос пользователя и искала по базе<br/>
  наиболее подходящий ответ. Сервер программировал я, на python<br/>
  и для поиска подходящего ответа использовал следующую нейросеть:</p>
  <a href="https://huggingface.co/cointegrated/rubert-tiny">
    https://huggingface.co/cointegrated/rubert-tiny </a>

</body>
</html>
